<!DOCTYPE html>
<html lang="en">
<% let srcText=null %>
    <% if (locals.dedicatedIndex) { srcText=locals.dedicatedIndex } %>
        <% if (locals.dedicatedSemi) { srcText=locals.dedicatedSemi } %>
            <% if (locals.dedicatedUs) { srcText=locals.dedicatedUs } %>

                <%- include('../partials/head'); %>

                    <body>

                        <%- include('../partials/header'); %>

                            <div class="mt-20 py-20">
                                <div class="container text-center">
                                    <h1 class="coodiv-text-3 font-weight-bold">High-performance Servers</h1>
                                    <div class="col-lg-6 mx-auto">
                                        <p class="coodiv-text-9">Choose the package that is right for you.</p>
                                    </div>
                                </div>
                            </div>

                            <section>
                                <div class="container">

                                    <div class="row justify-content-center align-items-center mb-15">
                                        <div id="monthly-yearly-chenge" class="style-two mb-0">
                                            <a class="active monthly-price"> <span class="change-box-text">billed
                                                    monthly</span> <span class="change-box"></span></a>
                                            <a class="yearli-price"> <span
                                                    class="change-box-text">semi-annually</span></a>
                                        </div>
                                        <span class="price-discount-billed">20% discount</span>
                                    </div>


                                    <div
                                        class="row justify-content-start second-pricing-table-container dedicated-version mr-tp-30">
                                        <% if (srcText) { %>
                                            <% srcText.table.forEach(column=> { %>
                                                <div class="col-md-4">
                                                    <div class="second-pricing-table">
                                                        <h5 class="second-pricing-table-title">
                                                            <%= column.title.toUpperCase() %> <span>
                                                                    <%= column.subtitle %>
                                                                </span>
                                                        </h5>
                                                        <span class="second-pricing-table-price monthly">
                                                            <i class="monthly">$<%= column.priceMonthly %>
                                                                    <small>/mo</small></i>
                                                            <i class="yearly">$<%= column.priceYearly %>
                                                                    <small>/year</small></i>
                                                        </span>

                                                        <ul class="second-pricing-table-body">
                                                            <li><strong>CPU: </strong>
                                                                <%= column.cpu %>
                                                            </li>
                                                            <li><strong>
                                                                    <%= column.cores %>
                                                                </strong>Core(s)</li>
                                                            <li><strong>
                                                                    <%= column.storage %>
                                                                </strong> Storage</li>
                                                            <li><strong>
                                                                    Upgradable storage:
                                                                </strong>
                                                                <% if (column.isUpgradable) {%>
                                                                    <%= 'Yes' %>
                                                                        <% } else { %>
                                                                            <%= 'No' %>
                                                                                <% } %>
                                                            </li>
                                                            <li><strong>
                                                                    <%= column.data %>
                                                                </strong> Monthly Traffic</li>
                                                            <li><strong>
                                                                    <%= column.ram %>GB
                                                                </strong> RAM</li>
                                                        </ul>

                                                        <ul class="second-pricing-table-body-features">
                                                            <li><span><strong></strong>10 Gbits Network Cards
                                                                </span></li>
                                                            <li><span><strong></strong>99.9% Network Uptime</span></li>
                                                            <li><span><strong></strong>Full Root-level Access</span>
                                                            </li>
                                                            <li><span><strong></strong>Zero setup fee</span></li>
                                                        </ul>

                                                        <a class="second-pricing-table-button" href="/order-now">Order
                                                            Now</a>

                                                    </div>
                                                </div>
                                                <% })} %>
                                    </div> 
                                    <br>
                                </div>
                            </section>

                            <section class="py-25 border-top">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-md-8 col-12">
                                            <div class="title-default-coodiv-four">
                                                <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">
                                                    All-day, we got
                                                    your back</p>
                                                <h5 class="coodiv-text-5 font-weight-bold">Choose Educloud Dedicated Servers, Here's Why</h5>
                                                <!-- <p class="coodiv-text-9">
                                                    We're here with the help and advice you need to bring your idea to
                                                    life. When you're
                                                    ready to get online, we're prepped, trained, and ready to guide you
                                                    from start to
                                                    success.
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coodiv-features-box-black-color-carousel">
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Server Features 
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>Network:</strong> 10 Gbits Network Cards</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Dedicated IP Addresses:</strong> 1</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Domain Name Registration / Transfer:</strong> $12.50</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">OS Installation Features 
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>CentOS: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Debian: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Ubuntu: </strong>Yes</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Reselling Tools
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>eNom Domain Name Reseller Account: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Client Exec Billing/Support Software: </strong>Yes</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Server Guarantees
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>No Set-up Fee: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>99.9% Network Uptime: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Full Root-level Access: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>24/7 Technical Support For Pre-installed Software: </strong>Yes</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Control Panel Installation
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>cPanel (for CentOS only): </strong>from $47.50/mo</p>
                                                <p class="coodiv-text-11 font-weight-light"><strong>DirectAdmin (for CentOS only): </strong>$0.00/mo</p>
                                                <p class="coodiv-text-11 font-weight-light"><strong>Full Root-level Access: </strong>Yes</p>
                                                <p class="coodiv-text-11 font-weight-light"><strong>Hepsia (no root access; for Debian only): </strong>$0.00/mo</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Administration Services
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>BACKUP SPACE (50 GB): </strong>$11.00/mo</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>MANAGED SERVICES PACKAGE: </strong>$32.00/mo</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Backup Space (50 GB): </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Weekly OS Update: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Monitoring & Rebooting: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Installation & Troubleshooting (30 minutes): </strong>Yes</p>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="/" class="coodiv-features-box-black-color">
                                                <!-- <i style="color: #ff2934;" class="fab fa-wordpress"></i> -->
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Extra Dedicated IPs
                                                    <!-- <span    class="coodiv-text-12 font-weight-light">As low as $4.99</span> -->
                                                </h5> <br>
                                                <p class="coodiv-text-11 font-weight-light"><strong>1 Additional IP: </strong>$3.00/mo</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <%- include('../partials/footer') %>
                    </body>

</html>