<!DOCTYPE html>
<html lang="en">
<% let srcText=null %>
    <% if (locals.dedicatedIndex) { srcText=locals.dedicatedIndex } %>
        <% if (locals.dedicatedSemi) { srcText=locals.dedicatedSemi } %>
            <% if (locals.dedicatedUs) { srcText=locals.dedicatedUs } %>

                <%- include('../partials/head'); %>

                    <body>

                        <%- include('../partials/header'); %>

                            <div class="mt-20 py-20">
                                <div class="container text-center">
                                    <h1 class="coodiv-text-3 font-weight-bold">High-performance Servers</h1>
                                    <div class="col-lg-6 mx-auto">
                                        <p class="coodiv-text-9">Choose the package that is right for you.</p>
                                    </div>
                                </div>
                            </div>

                            <section>
                                <div class="container">

                                    <div class="row justify-content-center align-items-center mb-15">
                                        <div id="monthly-yearly-chenge" class="style-two mb-0">
                                            <a class="active monthly-price"> <span class="change-box-text">billed
                                                    monthly</span> <span class="change-box"></span></a>
                                            <a class="yearli-price"> <span
                                                    class="change-box-text">semi-annually</span></a>
                                        </div>
                                        <span class="price-discount-billed">20% discount</span>
                                    </div>


                                    <div
                                        class="row justify-content-start second-pricing-table-container dedicated-version mr-tp-30">
                                        <% if (srcText) { %>
                                            <% srcText.table.forEach(column=> { %>
                                                <div class="col-md-4">
                                                    <div class="second-pricing-table">
                                                        <h5 class="second-pricing-table-title">
                                                            <%= column.title.toUpperCase() %> <span>
                                                                    <%= column.subtitle %>
                                                                </span>
                                                        </h5>
                                                        <span class="second-pricing-table-price monthly">
                                                            <i class="monthly">$<%= column.priceMonthly %>
                                                                    <small>/mo</small></i>
                                                            <i class="yearly">$<%= column.priceYearly %>
                                                                    <small>/year</small></i>
                                                        </span>

                                                        <ul class="second-pricing-table-body">
                                                            <li><strong>CPU: </strong>
                                                                <%= column.cpu %>
                                                            </li>
                                                            <li><strong>
                                                                    <%= column.cores %>
                                                                </strong>Core(s)</li>
                                                            <li><strong>
                                                                    <%= column.storage %>
                                                                </strong> Storage</li>
                                                            <li><strong>
                                                                    Upgradable storage:
                                                                </strong>
                                                                <% if (column.isUpgradable) {%>
                                                                    <%= 'Yes' %>
                                                                        <% } else { %>
                                                                            <%= 'No' %>
                                                                                <% } %>
                                                            </li>
                                                            <li><strong>
                                                                    <%= column.data %>
                                                                </strong> Monthly Traffic</li>
                                                            <li><strong>
                                                                    <%= column.ram %>GB
                                                                </strong> RAM</li>
                                                        </ul>

                                                        <ul class="second-pricing-table-body-features">
                                                            <li><span><strong></strong>10 Gbits Network Cards
                                                                </span></li>
                                                            <li><span><strong></strong>99.9% Network Uptime</span></li>
                                                            <li><span><strong></strong>Full Root-level Access</span>
                                                            </li>
                                                            <li><span><strong></strong>Zero setup fee</span></li>
                                                        </ul>

                                                        <a class="second-pricing-table-button" href="/order-now">Order
                                                            Now</a>

                                                    </div>
                                                </div>
                                                <% })} %>
                                    </div> 
                                    <br>
                                </div>
                            </section>

                            <section class="py-20 bg-default-2">
                                <div class="container">
                                    <h5 class="title-default-coodiv-two">Choose Educloud Dedicated Servers, here's why</h5>

                                    <div class="row justify-content-center mt-10">
                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #88f6ec;" class="fad fa-chart-pie"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">SERVER FEATURES</h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Network:</strong> 10 Gbits Network Cards</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Dedicated IP Addresses:</strong> 1</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Domain Name Registration / Transfer:</strong> $12.50</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #79f9c0;" class="fad fa-bell"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">OS INSTALLATION OPTIONS</h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>CentOS: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Debian: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Ubuntu: </strong>Yes</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #fede48;" class="fad fa-binoculars"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">RESELLING TOOLS
                                                    </h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>eNom Domain Name Reseller Account: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Client Exec Billing/Support Software: </strong>Yes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-10">
                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #88f6ec;" class="fad fa-chart-pie"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">SERVER FEATURES</h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Network:</strong> 10 Gbits Network Cards</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Dedicated IP Addresses:</strong> 1</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Domain Name Registration / Transfer:</strong> $12.50</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #79f9c0;" class="fad fa-bell"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">OS INSTALLATION OPTIONS</h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>CentOS: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Debian: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Ubuntu: </strong>Yes</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="coodiv-feutres-black-version">
                                                <i style="background: #fede48;" class="fad fa-binoculars"></i>
                                                <div class="text">
                                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">RESELLING TOOLS
                                                    </h5>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>eNom Domain Name Reseller Account: </strong>Yes</p>
                                                    <p class="coodiv-text-11 font-weight-light"><strong>Client Exec Billing/Support Software: </strong>Yes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section-product-introduction-image-wrapper">
                                        <div class="section-product-introduction-background"></div>
                                        <img src="img/demo/admin-panel.png" alt="statistics" title="statistics"
                                            class="section-product-introduction-image" loading="lazy" />
                                    </div>
                                </div>
                            </section>

                            <section class="pt-20 pb-25">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-md-6 col-12 d-flex align-items-center">
                                            <div class="content-text-author mb-md-0 mb-14">
                                                <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">
                                                    MANAGED WORDPRESS
                                                    ECOMMERCE</p>
                                                <h3 class="coodiv-text-4 font-weight-bold">WooCommerce offers powerful
                                                    online stores.
                                                </h3>
                                                <p class="content_text_author_description_p">Managed WordPress Ecommerce
                                                    offers
                                                    hassle-free online store setup, built-in speed and performance, plus
                                                    free access to
                                                    over 40 WooCommerce extensions.</p>
                                                <p class="content_text_author_description_p">Build client sites quickly
                                                    with the latest
                                                    version of WordPress installed. From there you can start from
                                                    scratch or save time
                                                    picking from dozens of flexible, editable themes.</p>
                                                <a href="wordpress.html" class="btn btn-dark coodiv-text-11 mt-10">See
                                                    all WordPress
                                                    prices</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div style="background-color: transparent;"
                                                class="section_text_graphic_image">
                                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/services.png"
                                                    alt title loading="lazy">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row justify-content-start mt-22">
                                        <div class="col-md-6 col-12">
                                            <div style="background-color: transparent;"
                                                class="section_text_graphic_image">
                                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/services-2.png"
                                                    alt title loading="lazy">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 d-flex align-items-center">
                                            <div class="content-text-author mt-md-0 mt-14">
                                                <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">
                                                    DEDICATED SERVER
                                                    HOSTING</p>
                                                <h3 class="coodiv-text-4 font-weight-bold">Dedicated Server Hosting for
                                                    system admins
                                                    and developers.</h3>
                                                <p class="content_text_author_description_p">Calling all experienced
                                                    developers, system
                                                    admins or agencies seeking powerful server capabilities: our
                                                    Dedicated Server
                                                    Hosting provides high-performance server options with isolated
                                                    resources to run
                                                    mission-critical applications where latency and uptime matters.</p>
                                                <p class="content_text_author_description_p">All plans come with free
                                                    standard hosting
                                                    support. Optional paid server management services include fully
                                                    managed support and
                                                    task-based services.</p>
                                                <a href="servers.html" class="btn btn-dark coodiv-text-11 mt-10">Start
                                                    configure your
                                                    server now</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-start mt-22">
                                        <div class="col-md-6 col-12 d-flex align-items-center">
                                            <div class="content-text-author mb-md-0 mb-14">
                                                <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">
                                                    ECOMMERCE</p>
                                                <h3 class="coodiv-text-4 font-weight-bold">A fast track to more sales.
                                                </h3>
                                                <p class="content_text_author_description_p">Did you know that 57% of
                                                    users will leave
                                                    your site if it takes longer than 3 seconds to load? That’s a lot of
                                                    lost revenue.
                                                    And with Web Hosting Plus, your pages load faster than shared
                                                    hosting, so more
                                                    visitors convert to customers.</p>
                                                <p class="content_text_author_description_p">With our latest optimized
                                                    server hardware,
                                                    you'll get faster sites — up to nearly 40% average improvement in
                                                    overall server
                                                    response times*.</p>
                                                <a href="dedicated.html" class="btn btn-dark coodiv-text-11 mt-10">Start
                                                    your building
                                                    your online store</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div style="background-color: transparent;"
                                                class="section_text_graphic_image">
                                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/services-3.png"
                                                    alt title loading="lazy">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>

                            <section class="py-25 border-top">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-md-8 col-12">
                                            <div class="title-default-coodiv-four">
                                                <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">
                                                    All-day, we got
                                                    your back</p>
                                                <h5 class="coodiv-text-5 font-weight-bold">Yep, We’re here for you,
                                                    Always.</h5>
                                                <p class="coodiv-text-9">
                                                    We're here with the help and advice you need to bring your idea to
                                                    life. When you're
                                                    ready to get online, we're prepped, trained, and ready to guide you
                                                    from start to
                                                    success.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coodiv-features-box-black-color-carousel">
                                        <div class="item">
                                            <a href="ssl.html" class="coodiv-features-box-black-color">
                                                <i style="color: #ff2934;" class="fab fa-wordpress"></i>
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">SSL Certificates <span
                                                        class="coodiv-text-12 font-weight-light">As low as $4.99</span>
                                                </h5>
                                                <p class="coodiv-text-11 mb-1">A step-by-step guide to request an SSL
                                                    certificate and
                                                    install it.</p>
                                            </a>
                                        </div>

                                        <div class="item">
                                            <a href="hosting.html" class="coodiv-features-box-black-color">
                                                <i style="color: #ee9823;" class="fal fa-database"></i>
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Linux Hosting <span
                                                        class="coodiv-text-12 font-weight-light">As low as $0.99</span>
                                                </h5>
                                                <p class="coodiv-text-11 mb-1">Check out our tour of your account
                                                    Dashboard, WordPress,
                                                    and cPanel.</p>
                                            </a>
                                        </div>

                                        <div class="item">
                                            <a href="wordpress.html" class="coodiv-features-box-black-color">
                                                <i style="color: #2ab8ae;" class="far fa-globe-africa"></i>
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Managed WordPress <span
                                                        class="coodiv-text-12 font-weight-light">As low as $3.99</span>
                                                </h5>
                                                <p class="coodiv-text-11 mb-1">building and maintaining websites
                                                    easier---and more
                                                    profitable.</p>
                                            </a>
                                        </div>

                                        <div class="item">
                                            <a href="cpanel.html" class="coodiv-features-box-black-color">
                                                <i style="color: #19d681;" class="fal fa-apple-crate"></i>
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Workspace Email <span
                                                        class="coodiv-text-12 font-weight-light">As low as $15.99</span>
                                                </h5>
                                                <p class="coodiv-text-11 mb-1">Build your brand and show the world you
                                                    mean business
                                                    with a domain.</p>
                                            </a>
                                        </div>

                                        <div class="item">
                                            <a href="about.html" class="coodiv-features-box-black-color">
                                                <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Websites + Marketing
                                                    <span class="coodiv-text-12 font-weight-light">As low as
                                                        $0.99</span>
                                                </h5>
                                                <p class="coodiv-text-11 mb-1">Attract customers with breakthrough
                                                    marketing content.
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="py-25 bg-default-2">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-md-6 col-12">
                                            <div class="title-default-coodiv-four">
                                                <h5 class="coodiv-text-5 font-weight-bold">Frequently asked questions
                                                </h5>
                                                <p class="coodiv-text-9">Don’t see what you’re looking for? <a
                                                        href="contact.html">Shoot
                                                        us a message!</a></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="faq-section-bredh" id="faq">
                                                <div class="faq-section-bredh-section">
                                                    <div class id="faqone">
                                                        <button class="faq-section-bredh-title" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                            What is Web Hosting Plus?
                                                        </button>
                                                    </div>

                                                    <div id="collapseOne" class="faq-section-bredh-text collapse show"
                                                        aria-labelledby="faqone" data-parent="#faq">
                                                        <p>
                                                            If your website is growing, it’s only a matter of time
                                                            before you’ll need
                                                            more power than shared hosting can provide. Web Hosting Plus
                                                            delivers the
                                                            same power and performance as a Virtual Private Server (VPS)
                                                            without the
                                                            pain of server administration. You get all the RAM, CPU and
                                                            bandwidth you
                                                            need without having to hire an IT pro to manage your server.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="faq-section-bredh-section">
                                                    <div class id="faqtwo">
                                                        <button class="faq-section-bredh-title" data-toggle="collapse"
                                                            data-target="#collapsetwo" aria-expanded="false"
                                                            aria-controls="collapsetwo">
                                                            How do I activate my Professional Email?
                                                        </button>
                                                    </div>

                                                    <div id="collapsetwo" class="faq-section-bredh-text collapse"
                                                        aria-labelledby="faqtwo" data-parent="#faq">
                                                        <p>
                                                            Your one-year Professional Email can be activated from your
                                                            Coodiv account.
                                                            If you need help migrating your existing email to
                                                            professional email or want
                                                            to add more email IDs, call the Email Services team at
                                                            <b>00213 123 4556
                                                                78.</b>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="faq-section-bredh-section">
                                                    <div class id="faqtree">
                                                        <button class="faq-section-bredh-title" data-toggle="collapse"
                                                            data-target="#collapsetree" aria-expanded="false"
                                                            aria-controls="collapsetree">
                                                            What version of PHP and MySQL do I get with Web Hosting?
                                                        </button>
                                                    </div>

                                                    <div id="collapsetree" class="faq-section-bredh-text collapse"
                                                        aria-labelledby="faqtree" data-parent="#faq">
                                                        <p>
                                                            Web Hosting comes with PHP 8.1, 8.0, 7.4, 7.3, 5.6 and the
                                                            latest versions
                                                            of MySQL 5.6. These are a key requirement for Magento,
                                                            CMS-Drupal and
                                                            OpenCart websites and anyone running multiple WordPress
                                                            websites.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <%- include('../partials/footer') %>
                    </body>

</html>